@import '../node_modules/purecss/build/pure-min';

body {
  text-align: center;
}

img.banner{
  width:234px;
  height:60px;
}

div.twitter{
  width: 30%;
  padding: 6%;
  padding-left:10%;
  float:left;
}

twitter-timeline{
  height:70%;
}

div.info{
  height:70%;
  margin:10%;
  overflow: auto;
  border-radius: 20px;
  border: solid;
}

.BoothInfo {
  @extend .pure-g;
  .BoothLeft, .BoothRight { @extend .pure-u-12-24; }

  .BoothImg {
    @extend .pure-img;
    display: inline-block;
    text-align: center;
    max-height: 15em;
  }
}

div.access{
  padding: 10%;
  float: left;
}

div.map{
  padding: 10%;
  overflow: auto;
}

img.booth1mg{
  width: 60%;
}
